/* Home page */
.device-status{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    gap: 20px;
    padding: 20px;
    /* background-color: #92b9ec; */
    
}

.status{
    background-color:rgba(156, 151, 243, 0.467);
    width: 45%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 55px;
    border-radius: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: #f9f9f9;
    transition: 0.3s;

}
.status:hover{
    transform: scale(1.05);
    background-color: #d0d0f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}
.status p{
    font-size: 20px;
    margin: 10px 0;
}
.status-icon{
    width: 100px;
    height: 100px;

}

.conclusion{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    color:rgb(255, 255, 255);
    background-color: #775aea;
    border-radius: 50px;
    font-size: 25px;
    transition: 0.3s;
}

.conclusion:hover{
    transform: scale(1.05);
    background-color: #6a4cd9;
    box-shadow: 4px 4px 8px rgba(33, 20, 213, 0.85);

}
