/* Settings page */
.settings-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 40px;
    padding: 20px;
    

}
.switch-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #d6aaf0;
    padding: 20px;
    border-radius: 10px;
    height: 200px;
    transition: 0.3s;
}
.switch-container:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.switch-container h2{
    color: #f9f9f9;
}

.switch-container h2 span{
    color: black;
    font-weight: bold;
}

/* SWITCH BUTTON */
.switch {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 50px;
    /* background-color: #f9f9f9; */

}

.switch input {
    background-color:aquamarine;
    opacity: 0;
    width: 0;
    height: 0;
}
.switch input:hover {
    cursor: pointer;

}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e216ab;
    transition: 0.4s;
    border-radius: 50px;
    transition: 0.3s;
}
.slider:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.slider > .slider-toggle{
    position: absolute;
    background-color:rgb(246, 214, 240);
    top: 0;
    left: 0;
    right: 50px;
    bottom: 0;
    transition: 0.4s;
    border-radius: 50%;

}

input:checked + .slider {
    background-color: #0094CE; /* màu xanh như Node-RED */
}

input:checked + .slider > .slider-toggle {
    transform: translateX(50px);
    background-color: #ffffff; /* màu trắng khi bật */
}

/* DONE SWITCH */

/* LCD  */

.lcd-select {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #e96e8f;
    color: black;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.lcd-select:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#lcd-status {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* WIFI  */


.wifi-input{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #e1e1e1;
    color: black;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 10px;
    transition: 0.3s;
}

.wifi-input:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.wifi-input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 185, 252, 0.5);
    transition: 0.3s;
}

.wifi-button{
    margin-left: 30%;
    margin-bottom: 20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: #e96e8f;
    color: black;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.wifi-button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}